[submodule "contrib/rpc-maas"]
	path = contrib/rpc-maas
	url = https://github.com/rcbops/rpc-maas.git
[submodule "contrib/uptime-monitor"]
	path = contrib/uptime-monitor
	url = https://github.com/racker/uptime-monitor.git
[submodule "contrib/conveyer"]
	path = contrib/conveyer
	url = https://github.com/sam-falvo/conveyer.git
[submodule "contrib/rpc-openstack"]
	path = contrib/rpc-openstack
	url = https://github.com/rcbops/rpc-openstack.git
